{
  "network": {
  "servers": [ "172.17.42.1:5000" ],
  "ssl ca": "/etc/pki/tls/certs/logstash-forwarder.crt",
  "timeout": 15
},

"files": [
  {% for setting in logstash_forwarder_settings %}
  {
    "paths": [
      {% for path in setting.paths %}
      "{{ path }}"{% if not loop.last %},{% endif %}
      {% endfor %}
    ],
    "fields": {
      "tags": "{{ setting.tags }}"
    }
  }{% if not loop.last %},{% endif %}
  {% endfor %}
]
}
